<a href="https://colab.research.google.com/github/sakurag118/ELECTIVA-TECNICA-I-C-DATOS-/blob/main/SQLite_y_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GestiÃ³n BÃ¡sica de Inventario con SQLite3

**Autor: Yuliet Sakura Garcia Fonseca**
BogotÃ¡, Colombia

**Instalar la LibrerÃ­a**

In [16]:
# %%shell le dice a Colab que vamos a usar un comando del sistema, no Python.
# 'sudo apt-get install sqlite3' instala la herramienta de bases de datos.
%%shell
sudo apt-get install sqlite3

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
sqlite3 is already the newest version (3.37.2-2ubuntu0.5).
0 upgraded, 0 newly installed, 0 to remove and 38 not upgraded.

**Crear la Base de Datos y la Tabla**

In [17]:
## Crear la base de datos, tabla e insertar 10,000 productos

import sqlite3 # LibrerÃ­a para la base de datos.
import random  # LibrerÃ­a para generar datos al azar.
import os      # LibrerÃ­a para interactuar con el sistema operativo (archivos).

# 1. Eliminar el archivo de la base de datos para empezar completamente de cero
# Esto garantiza que no haya problemas de bloqueos ni IDs duplicados de ejecuciones anteriores.
if os.path.exists('productos.db'):
    os.remove('productos.db')
    print("Archivo de base de datos anterior eliminado.")

# 2. Abrir la conexiÃ³n y crear el cursor
conn = sqlite3.connect('productos.db')
c = conn.cursor()

# 3. Crear una tabla llamada 'inventario'
c.execute('''
CREATE TABLE inventario (
    id INTEGER PRIMARY KEY,
    nombre TEXT,
    categoria TEXT,
    precio DECIMAL(10, 2),
    cantidad INTEGER,
    proveedor TEXT,
    fecha_ingreso DATE,
    ubicacion TEXT
)
''')

# 4. FunciÃ³n para generar un producto (solo 7 datos, el ID lo genera la DB)
def generar_producto():
    nombres = ["Producto", "ArtÃ­culo", "Objeto"]
    categorias = ["ElectrÃ³nica", "Hogar", "JardÃ­n", "Moda", "Deportes"]
    proveedores = ["Proveedor1", "Proveedor2", "Proveedor3"]
    ubicaciones = ["AlmacÃ©n A", "AlmacÃ©n B", "AlmacÃ©n C"]

    nombre = random.choice(nombres) + str(random.randint(10000, 99999))
    categoria = random.choice(categorias)
    precio = round(random.uniform(10.0, 500.0), 2)
    cantidad = random.randint(1, 100)
    proveedor = random.choice(proveedores)
    fecha_ingreso = f"2023-{random.randint(1, 12):02d}-{random.randint(1, 28):02d}"
    ubicacion = random.choice(ubicaciones)

    # Devolvemos una tupla de SOLO 7 DATOS (sin el ID)
    return (nombre, categoria, precio, cantidad, proveedor, fecha_ingreso, ubicacion)

# 5. Generar la lista de 10,000 productos
productos = [generar_producto() for i in range(10000)]

# 6. Insertar los 10,000 productos usando executemany
c.executemany('''
INSERT INTO inventario (nombre, categoria, precio, cantidad, proveedor, fecha_ingreso, ubicacion)
VALUES (?, ?, ?, ?, ?, ?, ?)
''', productos)

# 7. Guardar cambios y cerrar la conexiÃ³n
conn.commit()
conn.close()
print("Base de datos creada y poblada con Ã©xito.")

Archivo de base de datos anterior eliminado.
Base de datos creada y poblada con Ã©xito.

**Consultas y Uso de Pandas**

In [18]:
## Consulta para mostrar todos los productos creados
import sqlite3

# Reabrir la conexiÃ³n
conn = sqlite3.connect('productos.db')
c = conn.cursor()

# c.execute: Ejecuta el comando SQL 'SELECT * FROM inventario' (dame todos los productos de la tabla inventario)
c.execute('SELECT * FROM inventario')
# c.fetchall(): Trae todos los resultados que encontrÃ³ la consulta
productos = c.fetchall()

# Un bucle for para imprimir cada producto
# Esto es lento y solo muestra texto, por eso usamos Pandas mÃ¡s abajo.
# for producto in productos:
#     print(producto)

# Cerrar la conexiÃ³n
conn.close()

## Realizar consulta y transferir a dataframe
import sqlite3
import pandas as pd # Importamos PANDAS, la librerÃ­a para crear DataFrames (tablas bonitas)

# Reabrir la conexiÃ³n
conn = sqlite3.connect('productos.db')

#P2.2: Usamos pd.read_sql_query().
# Esto hace la consulta Y la convierte en una tabla (DataFrame) al mismo tiempo. Â¡Genial!
query = "SELECT * FROM inventario WHERE precio > 450"
df_productos = pd.read_sql_query(query, conn)

# Mostrar el DataFrame (la tabla bonita)
print("Productos con precio > 450:")
print(df_productos)
df_productos.head() # Muestra las primeras 5 filas (rows)

# Cerrar la conexiÃ³n
conn.close()

Productos con precio > 450:
        id         nombre    categoria  precio  cantidad   proveedor  \
0        6    Objeto37961         Moda  475.34        97  Proveedor3
1       25    Objeto99484  ElectrÃ³nica  468.27        82  Proveedor3
2       30  ArtÃ­culo30443       JardÃ­n  485.21        11  Proveedor1
3       40    Objeto66840       JardÃ­n  476.33        75  Proveedor1
4       45  Producto91834       JardÃ­n  485.79         4  Proveedor2
...    ...            ...          ...     ...       ...         ...
1001  9950    Objeto83276       JardÃ­n  475.62       100  Proveedor2
1002  9951  Producto15424       JardÃ­n  464.18         1  Proveedor3
1003  9956  Producto36621         Moda  482.33        61  Proveedor3
1004  9986  ArtÃ­culo29989         Moda  452.70        91  Proveedor2
1005  9999    Objeto26962       JardÃ­n  474.48        97  Proveedor2

     fecha_ingreso  ubicacion
0       2023-03-13  AlmacÃ©n C
1       2023-01-03  AlmacÃ©n B
2       2023-06-18  AlmacÃ©n A
3       2023-08-07  AlmacÃ©n A
4       2023-11-15  AlmacÃ©n C
...            ...        ...
1001    2023-08-08  AlmacÃ©n B
1002    2023-02-09  AlmacÃ©n A
1003    2023-05-13  AlmacÃ©n B
1004    2023-06-02  AlmacÃ©n B
1005    2023-11-15  AlmacÃ©n A

[1006 rows x 8 columns]

In [19]:
## Nueva consulta (Respuesta a P2.3)
import sqlite3
import pandas as pd

# Conectar a la base de datos
conn = sqlite3.connect('productos.db')

# ðŸ“ ModificaciÃ³n para P2.3: Cambiar la condiciÃ³n 'precio > 450 AND cantidad > 25'
# a 'precio > 480 OR cantidad < 5'
query_modificada = "SELECT * FROM inventario WHERE precio > 480 OR cantidad < 5"

# Realizar la consulta y cargar los resultados en un DataFrame
df_productos_modificado = pd.read_sql_query(query_modificada, conn)

# Mostrar el DataFrame
print("Productos con precio > 480 O cantidad < 5:")
print(df_productos_modificado)

# Cerrar la conexiÃ³n
conn.close()

Productos con precio > 480 O cantidad < 5:
       id         nombre    categoria  precio  cantidad   proveedor  \
0       2    Objeto21395     Deportes  147.99         2  Proveedor2
1      30  ArtÃ­culo30443       JardÃ­n  485.21        11  Proveedor1
2      45  Producto91834       JardÃ­n  485.79         4  Proveedor2
3      48    Objeto22855  ElectrÃ³nica  494.52        25  Proveedor3
4      55  Producto55025         Moda   25.59         1  Proveedor3
..    ...            ...          ...     ...       ...         ...
809  9951  Producto15424       JardÃ­n  464.18         1  Proveedor3
810  9956  Producto36621         Moda  482.33        61  Proveedor3
811  9957    Objeto58815         Moda  161.07         4  Proveedor3
812  9982    Objeto89411     Deportes  152.81         2  Proveedor3
813  9985    Objeto53990        Hogar  211.49         2  Proveedor2

    fecha_ingreso  ubicacion
0      2023-10-13  AlmacÃ©n A
1      2023-06-18  AlmacÃ©n A
2      2023-11-15  AlmacÃ©n C
3      2023-05-25  AlmacÃ©n C
4      2023-01-03  AlmacÃ©n C
..            ...        ...
809    2023-02-09  AlmacÃ©n A
810    2023-05-13  AlmacÃ©n B
811    2023-02-04  AlmacÃ©n A
812    2023-02-09  AlmacÃ©n A
813    2023-02-23  AlmacÃ©n A

[814 rows x 8 columns]